# Exclude IntelliJ IDEA temporary files
.idea/
*.iml

# Exclude Maven folders
target/
logs/

# Exclude Allure temporary files
allure-results/
.allure/

# Exclude system files
*.class
*.log
*.tmp
*.swp
.DS_Store

# Exclude OS-specific settings
Thumbs.db
*.~lock.*
