# Исключить временные файлы IntelliJ IDEA
.idea/
*.iml

# Исключить папки Maven
target/
logs/

# Исключить временные файлы Allure
allure-results/
.allure/

# Исключить системные файлы
*.class
*.log
*.tmp
*.swp
.DS_Store

# Исключить настройки ОС
Thumbs.db
*.~lock.*